@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Roboto'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'), 
    url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local('Roboto'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'), 
    url('../fonts/Roboto-Bold.woff') format('woff');
}