* {
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    color: #404040;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 150px;
}
header{
    font-size: 12px;
    margin: 30px 0 10px;
    color: darkgray;
    display: flex;
    justify-content: space-between;
}
.header-list{
    list-style: none;
}
.header-list-item{
    display: inline-block;
    margin: 0 5px;
}
.header-list-link{
    color: darkgray;
    text-decoration: none;
}
.beeinterns{
    text-align: center;
    font-size: 70px;
    margin-bottom: 25px;
}
.main-inf{
    color: aliceblue;
    font-size: 15px;
    background-color: #404040;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.main-inf li{
    display: inline-block;
    margin-left: 30px;
}
.main-inf li a{
    text-decoration: none;
    color: whitesmoke;
}
.big-photo li{
    display: inline-block;
}
footer{
    color: whitesmoke;
    background-color: #404040;
    text-align: center;
    font-size: 13px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
}
.big-photo{
    font-size: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.small-photos-container{
    display: flex;
    justify-content: space-between;
}
.footer{
    padding: 60px 0;
}
.your-header{
    font-size: 55px;
}
.your-text{
    font-size: 20px;
    margin: 20px 0;
}
.main-info-container{
    display: flex;
    justify-content: space-between;
    margin: 36px 0 40px;
}
.social {
    margin-bottom: 75px;
}
.social-title-container {
    border-bottom: 1px solid #bcbcbc;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.social-title {
    border-bottom: 3px solid #404040;
    font-size: 19px;
    font-weight: 400;
    padding: 0 3px 8px;
    position: relative;
    text-transform: uppercase;
    top: 2px;
    width: fit-content;
}
.social-links-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.social-card {
    display: inline-block;
    text-align: center;
}
.social-icon {
    max-width: 45px;
    width: 100%;
    margin-bottom: 5px;
}
.social-icon-link{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.users-title-container {
    border-bottom: 1px solid #bcbcbc;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.users-title {
    border-bottom: 3px solid #404040;
    font-size: 19px;
    font-weight: 400;
    padding: 0 3px 8px;
    position: relative;
    text-transform: uppercase;
    top: 2px;
    width: fit-content;
}
.user {
    display: flex;
    max-width: 180px;
}
.user-avatar {
    margin-right: 10px;
    max-width: 68px;
    width: 100%;
}  
.user-title {
    font-size: 14px;
}
.user-text-container{
    align-self: center;
}
.user-subtitle {
    color: #bcbcbc;
    font-size: 13px;
}
.user-list-item{
    display: inline-block;
    margin-bottom: 25px;
}
.last{
    margin-bottom: 113px;
}
.news-title-container{
    border-bottom: 1px solid #bcbcbc;
    box-sizing: border-box;
    max-width: 45%;
}
.news-body-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
}
.news-heading-title{
    border-bottom: 3px solid #404040;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    top: 2px;
}
.news-list{
    display: flex;
    flex-grow: 1;
    margin-right: 90px;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 10px;
    margin-top: 10px;
}
.news-text-container{
    align-self: center;
    margin-left: 15px;
}
.news-title{
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    font-size: 19px;
}
.news-subtitle{
    font-size: 14px;
    color: grey;
    margin-bottom: 10px;
}
.news-second-sub{
    font-size: 12px;
    color: grey;
}
.activity-container{
    max-width: 350px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    padding: 12px 20px;
}
.information-container{
    max-width: 810px;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    padding: 15px 25px 40px 20px;
}
.developments-heading-title{
    border-bottom: 3px solid #404040;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 5px;
}
.developments-title-container{
    margin-bottom: 40px;
}
.developments-body-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.developments-list-item{
    display: inline-block;
    min-width: 360px;
    margin-bottom: 45px;
}
.developments-list-pic{
    background-image: url('../Images/Beeline-images/hw12-pics/Tile-Big-01.png');
    height: 195px;
    background-size: cover;
    background-position: center;
}
.dev-pic-second{
    background-image: url('../Images/Beeline-images/hw12-pics/Tile-Big-02.png');
}
.dev-pic-third{
    background-image: url('../Images/Beeline-images/hw12-pics/Tile-Big-03.png');
}
.dev-pic-four{
    background-image: url('../Images/Beeline-images/hw12-pics/Tile-Big-04.png');
}
.developments-pic-text{
    position: relative;
    top: 89%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 19px 4px 9px;
    background-color: #468eda;
    color: black;
}
.developments-text-container{
    margin-top: 5px;
}
.developments-text-title{
    color: black;
    font-size: 17px;
}
.developments-text-date{
    font-size: 12px;
    margin-top: 5px;
}
.developments-button-container{
    margin: 40px 0;
    text-align: center;
}
.developments-button{
    border-radius: 6px;
    border: none;
    background-color: #32CD32;
    color: white;
    padding: 25px;
}
.dev-text-second{
    background-color: #32CD32;
}
.dev-text-third{
    background-color: plum;
}
.dev-text-four{
    background-color: #F0E68C;
}
.lectures{
    background-color: #f4f4f4;
    padding: 16px 20px;
}
.lectures-title-container{
    margin-bottom: 30px;
}
.lectures-heading-title{
    border-bottom: 1px solid #404040;
    width: fit-content;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 400;
}
.lectures-body-container{
    display: flex;
    justify-content: space-between;
    font-size: 0;
    margin-bottom: 20px;
}
.lectures-pic{
    width: 285px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.registration-header-container{
    border-bottom: 1px solid #bcbcbc;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.registration-header-title{
    border-bottom: 3px solid #404040;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
    top: 2px;
}
.registration-fieldset{
    border: none;
}
.registration-legend{
    font-size: 15px;
    font-weight: 700;
    color: gray;
    margin-bottom: 20px;
    width: 55%;
}
.registration-button-container{
    text-align: end;
}
.registration-button{
    border-radius: 6px;
    border-style: unset;
    background-color: #32CD32;
    color: white;
    padding: 15px 30px 15px 30px;
    transition: background-color 1s linear;
}
.registration-input{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #bcbcbc;
}
.registration-field-container{
    margin-bottom: 20px;
}
.news-registration-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
input:focus{
    background: cornsilk;
}
button:hover{
    background-color: darkgreen;
}
button:active{
    transform: scale(1.1);
}
.small-images-li{
    margin-top: 7px;
}
@media (max-width: 1023px) {
    .news-heading-title, .developments-heading-title, .registration-header-title, .social-title, .users-title{
        width: 40%;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .wrapper{
        padding: 0 30px 60px;
    }
    header{
        margin: 15px 0;
    }
    .beeinterns{
        margin-bottom: 20px;
    }
    .main-inf{
        padding: 15px 15px 15px 0;
    }
    .main-inf li{
        margin-left: 20px;
    }
    .your-header{
        margin-bottom: 10px;
    }
    .your-text{
        margin-top: 0;
    }
    .big-photo-1, .big-photo-2{
        width: 49%;
    }
    .big-photo-1{
        margin-right: 10px;
    }
    .big-photo-img{
        width: 100%;
    }
    .small-images-li{
        margin-top: 20px;
    }
    .img-one, .img-three{
        margin-right: 10px;
    }
    .small-photos-img{
        width: 100%;
    }
    .developments-title-container{
        white-space: nowrap;
        border-bottom: 1px solid #bcbcbc;
        width: fit-content;
        margin-bottom: 20px;
    }
    .developments-heading-title{
        border-bottom: 3px solid #404040;
        top: 2px;
        position: relative;
    }
    .developments-list-item{
        width: 48%;
        min-width: 200px;
    }
    .last{
        margin-bottom: 50px;
    }
    .developments-list-pic{
        height: 130px;
    }
    .developments-pic-text{
        top: 83%;
        padding-right: 40px;
    }
    .information-container{
        padding: 15px 25px 0 10px;
        margin-right: 20px;
        width: 70%;
    }
    .developments-button{
        padding: 22px;
        font-size: 12px;
    }
    .developments-button-container{
        margin: 20px 0
    }
    .lectures-pic{
        margin-right: 5px;
    }
    .lectures-body-container{
        justify-content: unset;
        overflow: auto;
    }
    .social{
        width: 100%;
        padding: 15px 25px 15px 10px;
        margin-bottom: 30px;
    }
    .social-links-container{
        justify-content: center;
        padding-bottom: 20px;
    }
    .social-title{
        font-size: 12px;
        white-space: nowrap;
    }
    .social-icon{
        width: 30px;
    }
    .social-icon-link{
        font-size: 10px;
    }
    .social-title-container{
        margin-bottom: 20px;
    }
    .social-icon-link{
        width: 80%;
    }
    .social-users-container{
        width: 29%;
        margin-left: 0;
    }
    .users{
        width: 100%;
        padding: 15px 25px 15px 10px;
    }
    .users-title{
        font-size: 12px;
        white-space: nowrap;
    }
    .user-title{
        font-size: 12px;
    }
    .user-subtitle{
        font-size: 10px;
    }
    .news-heading-title{
        white-space: nowrap;
    }
    .news-image{
        width: 20%;
    }
    .news-text-container{
        white-space: nowrap;
    }
    .news-title{
        font-size: 16px;
    }
    .news-subtitle, .news-second-sub{
        font-size: 12px;
    }
    .registration-form{
        margin-left: 0;
        width: 30%;
    }
    .registration-header-title{
        font-size: 14px;
    }
    .registration-legend{
        font-size: 11px;
        margin-bottom: 10px;
    }
    .registration-field-container{
        margin-bottom: 10px;
    }
    .registration-input{
        padding: 12px;
    }
    .registration-button{
        padding: 12px 30px;
    }
    footer{
        height: 100px;
    }
    .footer{
        padding: 45px 0;
    }
}
@media (max-width: 767px) {
    .wrapper{
        padding: 0;
        margin: 0;
    }
    header{
        padding: 0 10px;
        margin-bottom: 20px;
        font-size: 8px;
    }
    .picture-container, .your-header, .your-text{
        padding: 0 15px;
    }
    .beeinterns{
        font-size: 55px;
        margin-bottom: 10px;
    }
    .main-inf{
        overflow: auto;
        font-size: 12px;
        padding: 0;
        border-radius: 0;
        padding-left: 10px;
    }
    .main-inf ul{
        display: flex;
        padding: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .main-inf li{
        margin-left: 10px;
        white-space: nowrap;
    }
    .your-header{
        font-size: 32px;
    }
    .your-text{
        font-size: 12px;
        margin-top: 5px;
    }
    .big-photo-2{
        margin-top: 7px;
        margin-left: 0;
    }
    .big-photo-img{
        width: 100%;    
    }
    .small-images-li{
        width: 50%;
    }
    .img-one, .img-three{
        margin-right: 7px;
    }
    .small-photos-img{
        width: 100%;
    }
    .main-info-container{
        flex-direction: column;
        max-width: 767px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .information-container{
        max-width: 767px;
    }
    .developments-body-container{
        flex-direction: column;
    }
    .developments-list-item{
        max-width: 750px;
    }
    .developments-title-container{
        white-space: nowrap;
        border-bottom: 1px solid #bcbcbc;
        width: fit-content;
    }
    .developments-heading-title{
        font-size: 12px;
        border-bottom: 2px solid #404040;
        top: 1px
    }
    .developments-pic-text{
        top: 89.5%;
        font-size: 9px;
        padding-right: 40px;
   }
    .developments-list-second{
        order: 2;
    }
    .developments-list-four{
        order: 3;
    }
    .developments-text-title{
        font-size: 11px;
    }
    .developments-text-date{
        font-size: 8px;
    }
    .developments-button-container{
        text-align: left;
        margin: 0;
        margin-bottom: 20px;
    }
    .developments-button{
        padding: 20px;
        font-size: 10px;
    }
    .social-users-container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .users{
        max-width: 767px;
        order: -1;
        margin-bottom: 20px;
    }
    .social{
        max-width: 767px;
    }
    .social-links-container{
        justify-content: space-around;
    }
    .user-list-item{
        display: block;
        list-style: none;
    }
    .users-title-container{
        white-space: nowrap;
    }
    .users-title{
        font-size: 15px;
        border-bottom: 2px solid #404040;
        top: 1px;
        font-size: 12px;
    }
    .last{
        margin-bottom: 20px;
    }
    .user-list{
        padding-left: 5px;
    }
    .social-title-container{
        white-space: nowrap;
    }
    .social-title{
        font-size: 15px;
        border-bottom: 2px solid #404040;
        top: 1px;
        font-size: 12px;
    }
    .lectures-heading-title{
        font-size: 11px;
    }
    .lectures-title-container{
        margin-bottom: 20px;
    }
    .lectures-body-container{
        overflow: auto;
        padding: 20px;
        padding-top: 0;
        margin-left: -20px;
        margin-right: -20px;
    }
    .lectures-pic{
        margin-right: 5px;
    }
    .registration-header-title, .news-heading-title, .developments-heading-title, .social-title-container, .users-title-container{
        width: 150px;
    }
    .news{
        display: none;
    }
    .registration-form{
        margin: 0 auto;
        max-width: 350px;
    }
    .wrapper{
        padding-bottom: 80px;
    }
    footer{
        font-size: 10px;
        height: 100px;
    }
    .footer{
        padding: 45px 0;
    }
}
